
.header {
    overflow: hidden;
    background:transparent;
    padding: 20px 10px;
    border-bottom: 1px solid #fdfdfd;
  }
  
  
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
 .header a.logo {
    font-size: 30px;
    font-weight: bold;
    color: rgba(140, 147, 181, 0.745);
    
    font-family:cursive
  }
  
  .header a:hover {
    background-color: rgb(31, 152, 251);
    color: rgb(255, 255, 255);
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
 @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }